.dark-light {
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 1rem 0 0 0;
  gap: 1rem;
}
.dark-light p {
  color: #f9f9f9;
}

.toggle {
  display: none;
}
.toggle + label {
  width: 3rem;
  height: 1.5rem;
  background-color: #303134;
  display: block;
  border-radius: 1.5rem;
  padding: 0.125rem;
  transition: 200ms;
  cursor: pointer;
  position: relative;
}
.toggle + label:before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background: #f9f9f9;
  display: block;
  border-radius: 50%;
  right: unset;
  left: 0.125rem;
  top: 0.125rem;
  transition: 200ms;
}
.toggle:checked + label {
  background-color: #303134;
}

.toggle:checked + label:before {
  content: " ";
  left: calc(100% - 22px);
  box-shadow: 0 4px 4px rgba(0 0 0 / 10%);
}

.body-light {
  background-color: #fff;
  transition: all 0.5s;
}

.pesquisa-light {
  border: 1px solid transparent;
  box-shadow: none;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}
.pesquisa-light input {
  background-color: #fff;
  color: #202124;
  transition: all 0.5s;
}
.pesquisa-light button {
  background-color: #fff;
  color: #202124;
  transition: all 0.5s;
}
.pesquisa-light:hover {
  box-shadow: none;
  box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
  border-color: rgba(223, 225, 229, 0);
}

.dark-texto {
  color: #202124 !important;
}

.dark-texto2 {
  color: #70757a !important;
}

.background-light {
  background-color: #f8f9fa !important;
  color: #202124 !important;
}
