section {
  margin: 0 25% 0 25%;
}

section header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
section header .estatisticas {
  display: flex;
  flex-flow: row wrap;
}

section header .estatistica figure img {
  width: 3.75rem;
}
section header .city {
  background-color: red;
  text-align: right;
}
